<! DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>menu}}
            <div class=imgDiv>        
                <img src="img/headshot.png">
                <div class=captionDiv><span title="{{description}}">{{name}}</span></div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>