<! DOCTYPE html>
<html>
<head>
     {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>menu}}
        <p>{{errorText}}</p>
        <p>({{queryString}}) is an invalid request</p>
    </div>
    {{>footer}}
</body>
</html> 