<! DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
    <body>
        <div class="main-content">
            {{>header}}
            <table>
                <th style="padding: 4px;">&nbsp;</th>
                <th style="padding: 4px;">&nbsp;</th>
                <tr>
                    <td><h3><a href="">/</a></td>
                    <td><h3>"Hello Express"</h3></td>
                </tr>
                <tr>
                    <td><h3><a href="/help">Help</a></td>
                    <td><h3>Help (this page)))</h3></td>
                </tr>
                <tr>
                    <td><h3><a href="/about">About</a></td>
                    <td><h3>DUH!</h3></td>
                </tr>
                <tr>
                    <td><h3><a href="/weather">Weather</a></td>
                    <td><h3>Weather</h3></td>
                </tr>
                <tr>
                    <td><h3><a href="/json">json</a></td>
                    <td><h3>Display some JSON data</h3></td>
                </tr>
            </table>
        </div>
        {{>footer}}
    </body>
</html