<div class='menuDiv'>
    <a class="menuSpacing" href="/help"><span title="Help Page">Help</span></a>
    <a class="menuSpacing" href="/about"><span title="About Page">About</span></a>
    <a class="menuSpacing" href="/weather"><span title="Weather Page">Weather</span></a>
    <a class="menuSpacing" href="/json"><span title="Display some JSON data">json</span></a>
</div>